/* Basic App styles */
body {
  margin: 0;
  background-color: rgb(255, 250, 245);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 10px;
  padding: 10px;
}

.customFileInput {
  content: none;
  border-style: dotted;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #333;

  animation: color-change 4s infinite alternate;
}

@keyframes color-change {
  from {
    color: rgb(255, 0, 0);
  }
  to {
    color: #007bff;
  }
  to {
  }
}

/* Individual meme post style */
.meme-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  border-radius: 10px;
  width: 660px;
  background-color: white;
}

.meme-post img {
  max-width: 640px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.like-buttons b {
  font-size: 25px;
}

.like-button,
.dislike-button {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* .like-button:hover,
.dislike-button:hover {
} */

.like-button {
  padding-bottom: 7px;
}

.dislike-button {
  padding-top: 7px;
}

/* Search Bar element */
.search-bar {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 660px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  height: 32px;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.search-bar button {
  height: 32px;
  padding: 0 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

/* The feed element */
.meme-feed {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 250, 245);
  margin: 0 auto;
  width: 660px;
}
