body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-left: 10px;
  margin-right: 10px;
  border-style: groove;
  padding: 10px;
}

.memePost {
  margin-top: 20px;
  padding: 10px;
  padding-top: 0px;
}

.memePost img {
  max-width: 400px;
}

.customFileInput {
  content: none;
}
